body {
  font: 14px "Helvetica-Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul{
	font-size: 24px;
}

li{
	font-size: 12px;
	margin-left: 20px;
}

h1{
	color: rgba(0,0,0,0.2);
}

#person li{
	font-size: 24px;
	list-style: none;
}